body {
    margin: 0;
    font-family: sans-serif;
}
.flexbox {
    display: flex;
    flex-direction: row;
    border: 3px solid #000;
    margin: 20px;
    justify-content: center;
}


.flex-item {
    width: 100px;
    background-color: #911;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.flex-item:first-child {
    background-color: #d56;
}