section.elemento1,
section.elemento2,
section.elemento3 {
    color: red;
}
/* MODIFICAMOS LOS ELEMENTOS 1,2 Y 3 QUE ESTAN DENTRO DE ALGUNA SECTION*/
section :is(.elemento1, .elemento2, .elemento3) {
    color: blue;
}
/* SI QUEREMOS QUE NO CAMBIE LA ESPECIFICIDAD, USAMOS WHERE()*/





/* EN CASO DE QUE A UL LE SIGA UN DIV MODIFICAMOS EL UL */
ul:has(+div) {
    color: blue;
}


div {
    padding: 20px;
}  



label {
    font-weight: bold;
}



label:has(input:valid) {
    color: green;
}





label:has(input:invalid) {
    color: red;
}