.box {
    padding: 95PX;
    height: 100px;
    background: hsl(210, 40%,85%);
    margin: 20px;
    text-align: 100px;
    color: hsl(210, 40%,45%);
    border-top: 2px solid hsl(210, 40%, 45%);
    font-family: sans-serif;
    font-weight: bold;
}