div {
    text-align: left;
    font-family: sans-serif;
    text-align: left;
    margin: auto;
}
h2 {
    color: aqua;
}
h1{
    font-family: sans-serif;
}
h3 {
    font-family: sans-serif;
}
img {
    text-align: center;
}
.center {
    text-align: center;
}