.formulario {
    background-color: red;
    padding: 30PX;
}


.formulario_input {
    padding: 6px 10PX;
    width: 100%;
    background: black;
    color: red;
    
}
.formulario_input {
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: red;
    color: white;
    width: 50%;
}