@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-ExtraLight.ttf) format("truetye");
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Regular.ttf) format("truetye");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Bold.ttf) format("truetye");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-ExtraBold.ttf) format("truetye");
    font-weight: 700;

}
@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Black.ttf) format("truetye");
    font-weight: 900;
}